In [1]:
import json
import pandas as pd
import re
import time
import requests

In [ ]:
# Base URL without the dynamic timestamp part
base_batsman_url = "https://ipl-stats-sports-mechanic.s3.ap-south-1.amazonaws.com/ipl/feeds/stats/203-toprunsscorers.js"
base_bowler_url = "https://ipl-stats-sports-mechanic.s3.ap-south-1.amazonaws.com/ipl/feeds/stats/203-mostwickets.js"
callback_param = "ontoprunsscorers"

# Generate current timestamp in milliseconds
timestamp_ms = int(time.time() * 1000)

# Construct the full URL with dynamic timestamp
full_batsman_url = f"{base_batsman_url}?callback={callback_param}&_={timestamp_ms}"
full_bowler_url = f"{base_bowler_url}?callback={callback_param}&_={timestamp_ms}"

print(full_batsman_url)
print(full_bowler_url)

In [408]:
# Load the CSV files
role_df = pd.read_csv("Batsman.csv")
bat_performance_df = pd.read_csv("batsman_performance.csv")
bowl_performance_df = pd.read_csv("bawler_performance.csv")
print(bat_performance_df.shape, bowl_performance_df.shape)
bowl_performance_df = bowl_performance_df[bowl_performance_df.TeamCode.isin(['MI', 'DC', 'RR', 'CSK'])]
bat_performance_df = bat_performance_df[bat_performance_df.TeamCode.isin(['MI', 'DC', 'RR', 'CSK'])]
print(bat_performance_df.shape, bowl_performance_df.shape)

(143, 42) (92, 44)
(64, 42) (36, 44)

In [421]:
bat_performance_df.columns

Index(['StrikerName', 'PlayerId', 'Matches', 'PlayerDOB', 'RightHandedBat',
       'Nationality', 'TCompetitionID', 'TStrikerID', 'TTeamID', 'TeamCode',
       'TeamName', 'CompetitionID', 'TeamID', 'StrikerID', 'Innings_Bat',
       'Extras', 'TotalRuns', 'Balls', 'Dotballs', 'StrikeRate_Bat',
       'DBPercent', 'DBFreq', 'BdryFreq', 'BdryPercent', 'RPSS',
       'ScoringBalls', 'Ones_Bat', 'Twos_Bat', 'Threes_Bat', 'Fours_Bat',
       'Sixes_Bat', 'Outs', 'NotOuts', 'BattingAveragesss', 'FiftyPlusRuns',
       'Centuries', 'DoubleCenturies', 'HighestScore', 'BattingAverage',
       'Catches', 'Stumpings', 'ClientPlayerID', 'PlayerKey'],
      dtype='object')

In [409]:
# Remove spaces from player names in both DataFrames
role_df["PlayerKey"] = role_df["Player_Name"].str.replace(" ", "").str.lower()
bat_performance_df["PlayerKey"] = bat_performance_df["StrikerName"].str.replace(" ", "").str.lower()
bowl_performance_df["PlayerKey"] = bowl_performance_df["BowlerName"].str.replace(" ", "").str.lower()

In [410]:
# Merge on the normalized keys using a left join to keep all credit_list.csv records
merged_bat_df = pd.merge(role_df, bat_performance_df, on="PlayerKey", how="left")
merged_bat_df.drop(columns=['PlayerId', 'PlayerDOB', 'TCompetitionID', 'TStrikerID', 'TTeamID', 'TeamName', 'CompetitionID', 'TeamID', 'StrikerID', 'ClientPlayerID'], inplace=True)
merged_bat_df.dropna(subset = ["StrikerName"],inplace= True)

# merged_bat_df = merged_bat_df.add_suffix('_bat')
# merged_bat_df.rename(columns = {'PlayerKey_bat': 'PlayerKey'}, inplace=True)

print(merged_bat_df.shape)
merged_bat_df.columns

(45, 39)

Index(['Id', 'Player_Name', 'Team', 'Credit_Point', 'Role', 'Speciality',
       'PlayerKey', 'StrikerName', 'Matches', 'RightHandedBat', 'Nationality',
       'TeamCode', 'Innings_Bat', 'Extras', 'TotalRuns', 'Balls', 'Dotballs',
       'StrikeRate_Bat', 'DBPercent', 'DBFreq', 'BdryFreq', 'BdryPercent',
       'RPSS', 'ScoringBalls', 'Ones_Bat', 'Twos_Bat', 'Threes_Bat',
       'Fours_Bat', 'Sixes_Bat', 'Outs', 'NotOuts', 'BattingAveragesss',
       'FiftyPlusRuns', 'Centuries', 'DoubleCenturies', 'HighestScore',
       'BattingAverage', 'Catches', 'Stumpings'],
      dtype='object')

In [411]:
bat_unique = [
    'PlayerKey', 'StrikerName', 'Nationality', 'TeamCode', 'Extras', 'TotalRuns', 'Balls',
    'Dotballs', 'DBPercent', 'DBFreq', 'BdryFreq', 'BdryPercent', 'RPSS',
    'ScoringBalls', 'Outs', 'NotOuts', 'BattingAveragesss', 'FiftyPlusRuns',
    'Centuries', 'DoubleCenturies', 'HighestScore', 'BattingAverage', 'Catches',
    'Stumpings', 'Role', 'Ones_Bat', 'Twos_Bat', 'Threes_Bat', 'Fours_Bat', 'Sixes_Bat', 
    'Credit_Point', 'Innings_Bat', 'Matches', 'RightHandedBat', 'StrikeRate_Bat'
]

merged_bat_df = merged_bat_df[bat_unique]
merged_bat_df.shape

(45, 35)

In [412]:
merged_bowl_df = pd.merge(role_df, bowl_performance_df, on="PlayerKey", how="left")

# Optionally, drop the key column and rearrange if needed
merged_bowl_df.drop(columns=['TeamName' ,'Nationality','TeamCode','TeamID', 'CompetitionID', 'BowlerID', 'ClientPlayerID'], inplace=True)
merged_bowl_df.dropna(subset=["BowlerName"],inplace = True)

# merged_bowl_df = merged_bat_df.add_suffix('_bowl')
# merged_bowl_df.rename(columns = {'PlayerKey_bowl': 'PlayerKey'}, inplace=True)
merged_bowl_df.shape

(24, 44)

In [413]:
ball_unique = [
    'PlayerKey', 'BowlerName', 'LegalBallsBowled', 'TotalRunsConceded', 'DotBallsBowled',
    'DotBallPercent', 'ScoringBallsBowled', 'BowlingAverage', 'BowlingSR',
    'BoundaryPercentage', 'BoundaryFrequency', 'EconomyRate', 'OversBowled',
    'Wides', 'NoBalls', 'Byes', 'LegBye', 'Wickets', 'InningsRuns',
    'InningsWickets', 'MatchRuns', 'MatchWickets', 'BBIW', 'BBMW', 'Maidens',
    'MaidenWickets', 'FourWickets', 'FiveWickets', 'TenWickets', 'Role',
    'Ones_Bowl', 'Twos_Bowl', 'Threes_Bowl', 'Fours_Bowl', 'Sixes_Bowl', 'Credit_Point', 'Innings_Bowl', 'Matches', 'RightHandedBat', 'StrikeRate_Bowl'
]

common_cols = [
    'Id', 'Player_Name', 'Team', 'Speciality'
]

merged_bowl_df = merged_bowl_df[ball_unique + common_cols]

In [414]:
print(merged_bat_df.shape)
print(merged_bowl_df.shape)

(45, 35)
(24, 44)

In [415]:
final_df= pd.merge(merged_bat_df, merged_bowl_df,on="PlayerKey",how="outer")
final_df.shape

(49, 78)

In [416]:
final_df.columns

Index(['PlayerKey', 'StrikerName', 'Nationality', 'TeamCode', 'Extras',
       'TotalRuns', 'Balls', 'Dotballs', 'DBPercent', 'DBFreq', 'BdryFreq',
       'BdryPercent', 'RPSS', 'ScoringBalls', 'Outs', 'NotOuts',
       'BattingAveragesss', 'FiftyPlusRuns', 'Centuries', 'DoubleCenturies',
       'HighestScore', 'BattingAverage', 'Catches', 'Stumpings', 'Role_x',
       'Ones_Bat', 'Twos_Bat', 'Threes_Bat', 'Fours_Bat', 'Sixes_Bat',
       'Credit_Point_x', 'Innings_Bat', 'Matches_x', 'RightHandedBat_x',
       'StrikeRate_Bat', 'BowlerName', 'LegalBallsBowled', 'TotalRunsConceded',
       'DotBallsBowled', 'DotBallPercent', 'ScoringBallsBowled',
       'BowlingAverage', 'BowlingSR', 'BoundaryPercentage',
       'BoundaryFrequency', 'EconomyRate', 'OversBowled', 'Wides', 'NoBalls',
       'Byes', 'LegBye', 'Wickets', 'InningsRuns', 'InningsWickets',
       'MatchRuns', 'MatchWickets', 'BBIW', 'BBMW', 'Maidens', 'MaidenWickets',
       'FourWickets', 'FiveWickets', 'TenWickets', 'Role_y', 'Ones_Bowl',
       'Twos_Bowl', 'Threes_Bowl', 'Fours_Bowl', 'Sixes_Bowl',
       'Credit_Point_y', 'Innings_Bowl', 'Matches_y', 'RightHandedBat_y',
       'StrikeRate_Bowl', 'Id', 'Player_Name', 'Team', 'Speciality'],
      dtype='object')

In [417]:
# final_df[['PlayerKey', 'StrikeRate_x', 'StrikeRate_y']]

In [418]:
# Remove substring and duplicates (preserving order)
seen = set()
clean_col_name = []
for col in final_df.columns:
    clean_col = col.replace('_x', '')
    clean_col = clean_col.replace('_y', '')
    if clean_col not in seen:
        clean_col_name.append(clean_col)
        seen.add(clean_col)

print(clean_col_name)
for col in clean_col_name:
    # print(col)
    if col + '_x' in final_df.columns:
        final_df[col] = final_df[col + '_x'].combine_first(final_df[col + '_y'])
        final_df.drop(columns = [col + '_x', col + '_y'], inplace=True)

final_df.shape

['PlayerKey', 'StrikerName', 'Nationality', 'TeamCode', 'Extras', 'TotalRuns', 'Balls', 'Dotballs', 'DBPercent', 'DBFreq', 'BdryFreq', 'BdryPercent', 'RPSS', 'ScoringBalls', 'Outs', 'NotOuts', 'BattingAveragesss', 'FiftyPlusRuns', 'Centuries', 'DoubleCenturies', 'HighestScore', 'BattingAverage', 'Catches', 'Stumpings', 'Role', 'Ones_Bat', 'Twos_Bat', 'Threes_Bat', 'Fours_Bat', 'Sixes_Bat', 'Credit_Point', 'Innings_Bat', 'Matches', 'RightHandedBat', 'StrikeRate_Bat', 'BowlerName', 'LegalBallsBowled', 'TotalRunsConceded', 'DotBallsBowled', 'DotBallPercent', 'ScoringBallsBowled', 'BowlingAverage', 'BowlingSR', 'BoundaryPercentage', 'BoundaryFrequency', 'EconomyRate', 'OversBowled', 'Wides', 'NoBalls', 'Byes', 'LegBye', 'Wickets', 'InningsRuns', 'InningsWickets', 'MatchRuns', 'MatchWickets', 'BBIW', 'BBMW', 'Maidens', 'MaidenWickets', 'FourWickets', 'FiveWickets', 'TenWickets', 'Ones_Bowl', 'Twos_Bowl', 'Threes_Bowl', 'Fours_Bowl', 'Sixes_Bowl', 'Innings_Bowl', 'StrikeRate_Bowl', 'Id', 'Player_Name', 'Team', 'Speciality']

(49, 74)

In [419]:
final_df['TeamCode'] = final_df['TeamCode'].combine_first(final_df['Team'])
final_df.drop(columns = ['StrikerName', 'BowlerName', 'Team', 'Nationality', 'Player_Name', 'Id'], inplace=True)

In [ ]:
final_df.to_csv("final_data.csv", index=False)

In [420]:
final_df[['PlayerKey', 'StrikeRate_Bat', 'StrikeRate_Bowl']]

             PlayerKey  StrikeRate_Bat  StrikeRate_Bowl
0         abishekporel          149.71              NaN
1         akashmadhwal           44.44              NaN
2         anshulkamboj          100.00            24.00
3       ashutoshsharma          167.56              NaN
4         ashwanikumar             NaN             9.00
5            axarpatel          157.61            37.20
6          ayushmhatre          181.11              NaN
7          corbinbosch          146.87            42.00
8         deepakchahar          148.00            21.00
9          devonconway          123.68              NaN
10        dewaldbrevis          163.63              NaN
11          dhruvjurel          146.47              NaN
12  dushmanthachameera           50.00            18.00
13        fafduplessis          128.24              NaN
14     fazalhaqfarooqi          100.00              NaN
15        hardikpandya          168.08            12.92
16       jaspritbumrah             NaN            14.76
17          karnsharma          100.00            12.00
18        khaleelahmed           50.00            17.42
19             klrahul          142.16              NaN
20        kuldeepyadav          137.50            19.50
21   maheeshtheekshana           37.03            22.90
22  matheeshapathirana             NaN            18.33
23             msdhoni          140.62              NaN
24         mukeshkumar             NaN            21.00
25           namandhir          172.34              NaN
26           noorahmad           31.25            12.90
27         ntilakvarma          138.98              NaN
28  ravichandranashwin           90.90            32.40
29      ravindrajadeja          140.20            24.62
30          riyanparag          170.58            45.00
31         rohitsharma          152.28              NaN
32       ryanrickelton          153.42              NaN
33           samcurran          135.71            72.00
34         sameerrizvi          126.31              NaN
35         sanjusamson          143.58              NaN
36      shimronhetmyer          146.93              NaN
37          shivamdube          130.86              NaN
38        shubhamdubey          167.79              NaN
39     suryakumaryadav          170.56              NaN
40          trentboult           66.66            14.05
41       tristanstubbs          151.46              NaN
42     tushardeshpande           87.50            24.00
43          urvilpatel          281.81              NaN
44  vaibhavsuryavanshi          209.45              NaN
45         viprajnigam          179.41            18.00
46    waninduhasaranga           64.28            20.40
47           willjacks          129.13            14.40
48     yashasvijaiswal          154.57              NaN

In [194]:
final_df.shape

(49, 67)

In [175]:
set(role_df[role_df['Team'].isin(['MI', 'DC'])]['PlayerKey']) - set(final_df[final_df['TeamCode'].isin(['MI', 'DC'])]['PlayerKey'])

{'ashwanikumar',
 'jaspritbumrah',
 'mukeshkumar',
 'mustafizurrahman',
 'tnatarajan'}