d → Decimal integer format

Without d → It treats phone as a string (but we want numbers formatted nicely).

Passing an integer after the ':' will cause that field to be a minimum number of characters wide.

In [8]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:8} ==> {phone:8d}')

Sjoerd   ==>     4127
Jack     ==>     4098
Dcab     ==>     7678

".2f" means value upto 2 decimal point

In [11]:
import math
print(f'The value of pi is approximately {math.pi:.2f}.')

The value of pi is approximately 3.14.

## The string format method

In [14]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [15]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {Jack:d}; Sjoerd: {Sjoerd:d}; Dcab: {Dcab:d}'.format(**table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678